<form (submit)="onTournamentSubmit()">
  <h2 class="page-header" style="text-align:center">Create tournament</h2>
  <div class="form-group" style="flex:1">
    <div class="list-group-item">
        <label>Tournament Name</label>
        <input type="text" [(ngModel)]="tournamentName" name="tournamentName" class="form-control">
    </div>
</div>
  <div div style="display:flex">

    <div class="form-group" style="flex:1">
        <div class="list-group-item">
            <p style="font-weight: bold">Match 1:</p>
            <label>Date</label>
            <input type="date" [(ngModel)]="matchOneDate" name="matchOneDate" class="form-control">
            <label>Player 1</label>
            <input type="text" [(ngModel)]="playerOne" name="playerOne" class="form-control">
            <label>Player 2</label>
            <input type="text" [(ngModel)]="playerTwo" name="playerTwo" class="form-control">
            <label>Winner</label>
            <input type="text" [(ngModel)]="matchOneWinner" name="matchOneWinner" class="form-control">
        </div>
    </div>
    <div class="form-group" style="flex:1">
        <div class="list-group-item">
            <p style="font-weight: bold">Match 2:</p>
            <label>Date</label>
            <input type="date" [(ngModel)]="matchTwoDate" name="matchTwoDate" class="form-control">
            <label>Player 3</label>
            <input type="text" [(ngModel)]="playerThree" name="playerThree" class="form-control">
            <label>Player 4</label>
            <input type="text" [(ngModel)]="playerFour" name="playerFour" class="form-control">
            <label>Winner</label>
            <input type="text" [(ngModel)]="matchTwoWinner" name="matchTwoWinner" class="form-control">
        </div>
    </div>
  </div>
  <div class="form-group" style="flex:1">
      <div class="list-group-item">
          <p style="font-weight: bold">Final:</p>
          <label>Date</label>
          <input type="date" [(ngModel)]="finalMatchDate" name="finalMatchDate" class="form-control">
          <label>Finalist 1</label>
          <input type="text" [(ngModel)]="finalistOne" name="finalistOne" class="form-control">
          <label>Finalist 2</label>
          <input type="text" [(ngModel)]="finalistTwo" name="finalistTwo" class="form-control">
          <label>Tournament Winner</label>
          <input type="text" [(ngModel)]="tournamentWinner" name="tournamentWinner" class="form-control">
      </div>
  </div>

    <input type="submit" class="btn btn-primary" value="Submit" style="width: 100%">

</form>